<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <title>Метки</title>
  <style>
    form {
      margin: 0 auto;
      width: 250px;
    }
  </style>
</head>
<body>
<header id="header"></header>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div id="left-sidebar">
      </div>
    </div>
    <div class="col-md-10 border-left">
      <h2>Метки</h2>
      <p class="w-50">Метка — это ключевое слово или ярлык, который классифицирует ваш вопрос среди других похожих
        вопросов. Использование правильных меток облегчает другим пользователям поиск и ответ на ваш вопрос.
      </p>

      <div class="d-flex mb-4">
        <div class="form-outline">
          <input type="search" id="filterByUser" class="form-control" placeholder="Поиск по меткам" aria-label="Search">
        </div>

        <div class="btn-group btn-group-sm ml-auto" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary active">Популярные</button>
          <button type="button" class="btn btn-outline-secondary">По алфавиту</button>
          <button type="button" class="btn btn-outline-secondary">Новые</button>
        </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">javascript</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">python</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">java</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">c#</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">javascript</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">python</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">java</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#!" class="card-link">c#</a>
          </div>
          <div class="card-body">
            <p class="card-text">Описание метки</p>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <small>вопросов</small>
              <small class="ml-auto">спросили</small>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="d-flex">

        <div class="btn-toolbar ml-auto" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-sm btn-outline-secondary active">1</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">2</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">3</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">4</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">5</button>
            <button type="button" class="btn btn-sm btn-outline-secondary border-0">...</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Last</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Next</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<footer id="footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>